In [37]:
import re
import os
import pandas as pd

from pdfminer.high_level import extract_text

In [38]:
file_paths = os.listdir("data")

In [62]:
extracted_texts = [extract_text("./data/" + file_path) for file_path in file_paths]

In [94]:
extracted_texts[0]

'JACOB SMITH\n\nF R E S H E R\n\nPERSONAL PROFILE\n\nWORK BACKGROUND\n\nI am actively seeking opportunity as Data\nAnalyst or Machine Learning Engineer.\n\nMy goal is to discover new business\nstrategies and create an impact through\ndata driven analytical decisions and\nleading the business to success.\n\nExperts Hub\nIntern, May 2019\n\nI was part of a team that designed and developed a smart parking system\nbased on Object Recognition. \n\nSKILLS\n\nEDUCATION\n\nPython, SQL, MySQL, Tableau, Power\nBi, Pandas , Numpy, Matplotlib, Excel ,\nMachine Learning, AWS(EMR,EC2,S3),\nCloud, Hive(HQL), and Excel\n\nB. Tech, ECE VIT-AP University 2020\n\nPROJECTS\n\nMusic Genre Classification \nFace, eye, smile recognition\n\nOTHER ACTIVITIES\n\nDeep Learning Masters\nMachine Learning\n\n\x0c'

In [95]:
extract_text("target_resume.pdf")

"Machine Learning Engineering\n\n13585ABC\n\nKnowledge and Innovation\n\nWhat you’ll do\n\nYou will focus on researching, building, and designing self-running artificial intelligence (AI)\n\nsystems to automate predictive models. You are responsible to design and create the AI\n\nalgorithms capable of learning and making predictions that define machine learning (ML).\n\nExperience and qualifications\n\n● Bachelor's or Master's degree (mention the course as per requirement)\n\n● 0-2 years of work experience providing analytics solutions in a commercial setting\n\nTechnical expertise\n\nMust have\n\n● Machine Learning, Clustering, Logistic Regression, Classification\n\n● Different libraries such as SciKit Learn, NumPy, Pandas, Matplotlib, Seaborn\n\n● Deep learning frameworks such as Tensorflow, Keras, PyTorch and application of Neural\n\nNetworks and models. CNN, RNN, GANs\n\n● Familiar with Natural Language Processing and associated libraries like NLTK, SpaCy,\n\nBeautiful Soup\n\n● PySpark, Hadoop, and Big Data Pipelines\n\n● Data science methodology from exploratory data analysis, feature engineering, model\n\nselection, deployment of the model at scale, and model evaluation\n\n● Deploying NLP architectures and Computer Vision Models in production\n\nConsidered as a plus\n\n● Transformers and other advance techniques in NLP\n\n● Familiar with Computer Vision models and object detection, OCR, OpenCV\n\n● Analytical Tools as it will reduce any medium for data transfers\n\n\x0c● Web frameworks like Django and databases like MongoDB, NoSQL, GraphQL\n\n● SQL, Firebase, AWS, Azure, Google Cloud Platform\n\nYour job type\n\nFull time\n\n\x0c"

In [97]:
df_texts = pd.DataFrame(
    {
        "CandidateID": [file.strip(".pdf") for file in file_paths],
        "resume_text": extracted_texts,
        "target_resume": [extract_text("target_resume.pdf") for _ in file_paths],
    }
)

In [98]:
df_texts.head()

,CandidateID,resume_text,target_resume
0,candidate_000,JACOB SMITH\n\nF R E S H E R\n\nPERSONAL PROFI...,Machine Learning Engineering\n\n13585ABC\n\nKn...
1,candidate_001,Brianna Williams\n\nJ U N I O R D E V E L O ...,Machine Learning Engineering\n\n13585ABC\n\nKn...
2,candidate_002,M A S O N Q U A D R A D O\nASSOCIATE ANALYST...,Machine Learning Engineering\n\n13585ABC\n\nKn...
3,candidate_003,R O D N E Y M I C H A E L S\n\nA S S O C I A...,Machine Learning Engineering\n\n13585ABC\n\nKn...
4,candidate_006,JENNIFER ARMSTRONG\n\nC O M P U T E R V I S ...,Machine Learning Engineering\n\n13585ABC\n\nKn...

In [99]:
df_scored = pd.read_csv("train.csv")

In [100]:
df_scored.head()

     CandidateID  Match Percentage
0  candidate_011             13.60
1  candidate_113             36.63
2  candidate_123             54.93
3  candidate_012             41.46
4  candidate_002             48.91

In [101]:
merged_df = df_texts.merge(df_scored, on="CandidateID")

In [102]:
merged_df.head()

,CandidateID,resume_text,target_resume,Match Percentage
0,candidate_000,JACOB SMITH\n\nF R E S H E R\n\nPERSONAL PROFI...,Machine Learning Engineering\n\n13585ABC\n\nKn...,13.70
1,candidate_001,Brianna Williams\n\nJ U N I O R D E V E L O ...,Machine Learning Engineering\n\n13585ABC\n\nKn...,40.09
2,candidate_002,M A S O N Q U A D R A D O\nASSOCIATE ANALYST...,Machine Learning Engineering\n\n13585ABC\n\nKn...,48.91
3,candidate_003,R O D N E Y M I C H A E L S\n\nA S S O C I A...,Machine Learning Engineering\n\n13585ABC\n\nKn...,36.89
4,candidate_006,JENNIFER ARMSTRONG\n\nC O M P U T E R V I S ...,Machine Learning Engineering\n\n13585ABC\n\nKn...,44.96

In [92]:
merged_df.to_csv("train_merged.csv")